extends base
//- mixin navItem(link, text, icon, active)
//-   li(class=`${active ? 'side-nav--active' : ''}`)
//-     a(href=`${link}`)
//-       svg
//-         use(xlink:href=`img/icons.svg#icon-${icon}`)
//-       | #{text}
//- block content
//-   section(class="signup")
//-     main.main
//-       .user-view
//-         nav.user-view__menu
//-           ul.side-nav
//-             +navItem('#', 'Settings', 'settings', true)
//-             +navItem('#', 'My bookings', 'briefcase')
//-             +navItem('#', 'My reviews', 'star')
//-             +navItem('#', 'Billing', 'credit-card')
//-               h5.admin-nav__heading Admin
//-               ul.side-nav
//-                 +navItem('#', 'Manage plan', 'map')
//-                 +navItem('#', 'Manage users', 'users')
//-                 +navItem('#', 'Manage reviews', 'star')
//-                 +navItem('#', 'Manage bookings', 'briefcase')
//-         .user-view__content
//-           .user-view__form-container
//-             h2.heading-secondary.ma-bt-md Your account settings
//-             //- WITHOUT API
//-             //- form.form.form-user-data(action='/submit-user-data' method='POST')
//-             //- WITH API
//-             form.form.form-user-data
//-               .form__group
//-                 label.form__label(for='name') Name
//-                 input#name.form__input(type='text', value=`${user.name}`, required, name='name')
//-               .form__group.ma-bt-md
//-                 label.form__label(for='email') Email address
//-                 input#email.form__input(type='email', value=`${user.email}`, required, name='email')
//-               .form__group.form__photo-upload
//-                 img.form__user-photo(src=`/img/users/`, alt='User photo')
//-                 a.btn-text(href='') Choose new photo
//-               .form__group.right
//-                 button.btn.btn--small.btn--green(type='submit') Save settings  
//-               .form__group.right
//-                 <a href="/password" class="btn btn-full">UpdatePassword</a>          
//-           .line &nbsp;
block content
    #login
        br
        br
        #space1
            br
            h1 About You
            
            form.user-view__content
                .name
                    .entry
                        .entry-text
                            | Name : 
                        input(type='text' ,name='name' ,value = `${user.name}` ,id = 'name' , required=true)

                .role
                    .entry
                        .entry-text
                            | Role : 
                        input(type='text' ,name='role' , value = `${user.role}` , id = 'role' , required=true)

                .username
                    .entry
                        .entry-text
                            | Username : 
                        input(type='text' ,name='username' , value = `${user.username}` , id = 'username' , required=true)
                
                .email1
                    .entry
                        .entry-text
                            | Email Id : 
                        input(type='email' ,name='email' , value = `${user.email}` , id = 'email', required=true)

                br
                button(type='submit') Save
            a.forget(href="/changepassword") Change Password ?
            br
            br
        br
        br

