extend base

block content
    #login
        br
        br
        #space1
            br
            h1 Sign Up 
            .signup1
                h5 Already have an ID | 
                a.sign(href="/login") Login here

            form.signed
                .name
                    .entry
                        .entry-text
                            | Name : 
                        input(type='text' ,name='name' ,placeholder='  Your Name' ,id = "name" , required=true)

                .role
                    .entry
                        .entry-text
                            | Role : 
                        input(type='text' ,name='role' ,placeholder='  Your Role' , id = "role" ,required=true)

                .username
                    .entry
                        .entry-text
                            | Username : 
                        input(type='text' ,name='username' ,placeholder='  Your Username' , id = "username"  , required=true)
                
                .email1
                    .entry
                        .entry-text
                            | Email Id : 
                        input(type='email' ,name='email' ,placeholder='  Your Email' , id = "email" , required=true)

                .password1
                    .entry
                        .entry-text
                            | Password : 
                        input(type='password' ,name='password', placeholder='  Your Password' , id = "password" ,required=true )

                .confirm_pass
                    .entry
                        .entry-text
                            | Confirm Password : 
                        input(type='password' ,name='confirm_pass', placeholder='  Confirm Your Password' , id = "confirm_pass" ,required=true )

                br
                button(type='submit') Signup
        br
        br
